.bannerWrapper {
  display: flex;
  justify-content: center;
  margin: 0;
}
.banner-img {
  object-fit: cover;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}
.popular-film__detail-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  bottom: 0;
}
.popular-film__detail {
  transform: translateY(80%);
  margin-left: 48px;
}
.popular-film__title {
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
}
.popular-film__date {
  font-size: 16px;
}
.popular-film__overview {
  font-size: 16px;
  display: block;
  line-height: 16px;
  width: 500px;
  margin: 16px 0px;
}
.popular-film__btn {
  width: 150px;
  margin-right: 16px;
}
