.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail-wrapper {
  display: flex;
  justify-content: center;

  height: 80vh;
  width: 90vw;
  position: relative;
}
.detail-background {
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
.detail-background--cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.detail-info {
  top: 50%;
  position: absolute;
  color: #fff;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  margin: 0px 16px;
}
.similar-movie-wrapper {
  margin: 0px 60px;
}
