.more-action-btn{
    width: 30px;
    height: 30px;
   
    background-color:#a1a1a1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 1;

  }
  .dropdown{
    width: max-content;
    padding-inline: 16px;
  }