.film-detail__statistic{
    display: flex;
    color: inherit;
    flex-direction: row;  
    margin: 16px 0px;
}


.film-detail__statistic-point{
    padding: 10px;
    margin-right: 16px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#292929;
    border-radius: 4px;
}
.film-detail__statistic-rating{
    display: flex;
    flex-direction: column;
    justify-content: center;
  

}