
header{
  background-color: #001529;
  width: 100%;
  z-index: 1;
  box-shadow: 0 5px 8px rgb(0 0 0 / 15%);
  top: 0;
  position: sticky;
  padding: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;

 
}
.logo {
    float: left;
    display: flex;
    margin: auto;
    color: var(--white-color);
    margin-right: 50px;
    font-size: 48px;
    line-height: 48px;
    margin-left: 50px;
    text-decoration: none;
    
}
.header-menu{
    width: max-content;
    min-width: 700px;
}
.header-btn{
    background-color: transparent;
    color: var(--white-color);
    border: none;
    margin-left: 12px;
}
.btn-wrapper{
    display: flex;
    position: relative;
    margin-right: 48px;   
}
.searchbar{
    width: 300px;
    margin-right: 16px;
}