

.logo {
    float: left;
    display: flex;
    margin: auto;
    color: var(--white-color);
    margin-right: 50px;
  }
  .logo-first-char{
    font-size: 50px;
    width: 100%;
   
  }
.header-menu{
    width: fit-content;
    
 
}

.header-btn{
    float: right;
    margin-top: 16px;
    margin-left: 8px;
    background-color: transparent;
    color: var(--white-color);
    border: none;
}